.wrapper video {
    display: block;
    margin:auto;
    width: 75%;
    padding-top: 2em;
}

.main-header {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 12em;
}

.main-header h1 {
    font-family: Abril Fatface;
    text-align: center;
    font-size: 6em;
}

.main-header h2 {
    font-family: Raleway;
    text-align: center;
    font-size: 1.3em;
}

.content-one {
    background-color: rgb(70, 134, 255);
    border-radius: 2em;
    padding: 1em;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 3em;
    width: 80%;
}

.content-two {
    background-color: rgb(228, 228, 228);
    border-radius: 2em;
    padding: 1em;
    width: 80%;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 3em;
}

.content-three {
    background-color:rgb(70, 134, 255);
    border-radius: 2em;
    padding: 1em;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 15em;
    margin-top: 1em;
    display: inline-block;
}

.content-one h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: right;
    color: #fff;
    font-weight: lighter;
}

.content-two h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: left;
    font-weight: lighter;
}

.content-three h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: right;
    color: #fff;
    font-weight: lighter;
}

.card {
    padding-bottom:10em;
    
}

.emojicol {
    font-size: 5em;
    padding:1em;
}

.emojicol:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} 


/* .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-items: center;
    width: 80%;
    margin: auto;
}

.grid div {
    font-size: 5em;
    padding:1em;
}

.grid div:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} */



/* ----------------------------------------------
 * Generated by Animista on 2021-2-26 15:9:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }